<div class="card">
    <div class="card__header">
        Categories
    </div>
    <div class="card__content">
        <div class="categories">
            {{ range $name, $taxonomy := .Site.Taxonomies.categories }}
                {{ with $.Site.GetPage (printf "/categories/%s" $name) }}
                    <a href={{ .RelPermalink }} title="{{ $name }}" class="category">
                        <span class="category__name">
                            {{ $name | strings.FirstUpper }}
                        </span>
                    </a>
                {{ end }}
            {{ end }}
        </div>
    </div>
</div>

<div class="card">
    <div class="card__header">
        Tags
    </div>
    <div class="card__content">
        <div class="tags">
            {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
                {{ with $.Site.GetPage (printf "/tags/%s" $name) }}
                    <a class="label" href={{ .RelPermalink }} title="{{ $name }}">
                        <span class="label__name">
                            {{ $name | strings.FirstUpper }}
                        </span>
                    </a>
                {{ end }}
        {{ end }}
      </div>
    </div>
</div>